<!DOCTYPE html>
<html>
  <head>
    <title>DistributedSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="error" style="background: #ccc; padding: 10px; font-weight: bold; position: fixed; display: none"></div>
    <%= yield %>
  </body>
</html>
